# Ignore all by defauld
/*
/*/

# And un-ignore those that are actually needed
!.gitignore
!.gitmodules
!README.md

!ideavimrc
!zshrc
!zshrc
!p10k.zsh
!setup.sh

!/nvim/
!/lazygit/
!/hypr/
!/kitty/
!/xdg-desktop-portal/
!/tmux/
!/fuzzel/
!/hyprpanel/
!/yazi/
